ul {
  list-style: none;
}

header .actions > div a,
header .actions > div button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header .actions > div a:hover,
header .actions > div button:hover {
  opacity: 0.7;
}

header .material-icons {
  display: inline-block;
  width: 20px;
}

#carousel-landing .carousel-inner {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

#carousel-landing .carousel-item::-webkit-scrollbar {
  display: none;
}
#carousel-landing .carousel-item > div .carousel-item .image {
  flex-basis: 45%;
}
#carousel-landing .carousel-control-next,
#carousel-landing .carousel-control-prev {
  width: 30px;
}

@media (max-width: 992px) {
  header .actions {
    order: -1;
  }
}

.feature .material-icons-outlined {
  font-size: 35px;
}

#mobiles .card,
#mobiles .card img,
#watches .card,
#watches .card img {
  border-radius: 0;
}

#mobiles .card a,
#watches .card a {
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
  transition: all 1s ease-out;
}

#mobiles .card:hover a,
#watches .card:hover a {
  bottom: 120px;
  opacity: 1;
}

#mobiles .row::-webkit-scrollbar-button,
#watches .row::-webkit-scrollbar-button {
  display: none;
}
#mobiles .row::-webkit-scrollbar,
#watches .row::-webkit-scrollbar {
  height: 10px;
}
#mobiles .row::-webkit-scrollbar-track,
#watches .row::-webkit-scrollbar-track {
  background-color: #eeeeee83;
}
#mobiles .row::-webkit-scrollbar-thumb,
#watches .row::-webkit-scrollbar-thumb {
  background-color: #eeeeeeb6;
}

#mobiles .row::-webkit-scrollbar-thumb:hover,
#watches .row::-webkit-scrollbar-thumb:hover {
  background-color: #eee;
}

#sale .text {
  transform: translateY(-50%);
  background-color: rgba(238, 238, 238, 0.568);
}

#quote .head-icon {
  font-size: 75px;
}

#insta .item::before {
  content: "\e3f1";
  font-family: "Material Icons";
  font-size: 75px;
  color: white;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 20%;
  top: 75%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in;
}
#insta .item:hover {
  cursor: pointer;
}
#insta .item:hover::before {
  top: 50%;
  opacity: 1;
}
